.footer {
  background-color: var(--container-color);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.footer-container {
  padding: 2rem 0 6rem;
}
.footer-title,
.footer-link {
  color: var(--title-color);
}

.footer-title {
  text-align: center;
  margin-bottom: var(--mb-2);
  
}

.footer-link:hover {
  color: var(--title-color-dark);
}
.footer-list {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  margin-bottom: var(--mb-2);
  
}
.footer-social {
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
  margin-top: 20px;
  
 
}

.footer-social-link {
  background-color: var(--title-color);
  color:rgb(216, 128, 13);
  font-size: 1.25rem;
  padding: 0.4rem;
  border-radius: 0.5rem;
  display: inline-flex;
}
.footer-social-link:hover {
  background-color: var(--title-color-dark);
  color:var(--clr-primary)
}
.footer-copy {
  display: block;
  margin-top: 3.5rem;
  color: var(--title-color);
  text-align: center;
  font-size: var(--smaller-font-size);
  
}